@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mulish&family=PT+Serif&family=Poppins&family=Zen+Kaku+Gothic+New&display=swap');


.movie {
    background-color: rgb(24, 23, 23);
    color: #fff;
    font-family: 'Mulish';
}
.movieInfo {
    display: flex;
    padding: 3em;
}
.movieInfo img {
    padding-right: 3em;
}
.movieSummary { 
    padding: 3em;
    border: 2px solid #fff;
    width: 60vw;
}
.movieTitle {
    font-size: 60px;
    margin: 0;
    padding-bottom: 2em;
}
.movieYear, .movieRuntime, .movieGenre {
    font-size: 25px;
}
.movieGenre {
    list-style-type: none;
    padding: 0;
}

/*movie suggest*/ 
.suggestTitle {
    text-align: center;
    font-size: 40px;
}
.movieSuggest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieSuggestdata {
    width: 15vw;
    box-shadow: .3em .3em 1em #fff;
    border-radius: 1em;
    margin: 4em 3em;
}
.movieSuggestdata:hover {
    box-shadow: .3em .3em 2em #fff;
    transition: .3s;
}
.movieSuggestdata img {
    width: 100%;
    border-radius: .8em .8em 0 0;
}
.suggestMovieTitle {
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.movieSuggestLink {
    text-decoration: none;
}

.loading {
    text-align: center;
    font-family: 'Mulish';
    font-size: 60px;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 23, 23);
    height: 100vh;
    margin: 0;
}

@media only screen and (max-width: 1025px) {
    .movieSuggestdata {
        width: 20vw;
        margin: 4em 1em;
    }
}

@media only screen and (max-width: 769px) {
    .movieInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movieInfo img {
        padding-right: 0;
        width: 560px;
    }

    .movieSuggestdata {
        width: 40vw;
        margin: 4em 1em;
    }
}

@media only screen and (max-width: 426px) {
    .movieInfo img {
        width: 355px;
    }
    .movieTitle {
        font-size: 40px;
    }
    .movieYear, .movieRuntime, .movieGenre {
        font-size: 20px;
    }

    .movieSuggestdata {
        width: 70vw;
        margin: 4em 1em;
    }
}

@media only screen and (max-width: 376px) {
    .movieInfo img {
        width: 325px;
    }
}

@media only screen and (max-width: 321px) {
    .movieInfo img {
        width: 292px;
    }
}